.player_info_box_2p_4x3{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    width: 300px;
    height: 764px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 20px;
}
.com_info_box_2p_4x3{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    width: 483px;
    height: 764px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 20px;
    padding-bottom: 5px;
    flex-direction: column;
}

.com_name_holder_1p_16x9{
    margin-top: 10px;
    display: inline-flex;
    justify-content: flex-end;
    padding-right:10px;
}

.com_info_box_2p_4x3{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    width: 972px;
    height: 147px;
    position: absolute;
    top: 110px;
    left: 453px;
    margin-left: 20px;
    padding-bottom: 5px;
    flex-direction: row;
}
.team1box{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
    width: 267px;
    height: 37px;
    position: absolute;
    left: 10px;
    top: 343px;
    margin-left: 0px;
    padding-bottom: 5px;
    flex-direction: column;
}

.team2box{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    width: 267px;
    height: 37px;
    position: absolute;
    top: 344px;
    left: 1633px;
    margin-left: 10px;
    padding-bottom: 5px;
    flex-direction: column;
}
.team3box{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 267px;
    height: 37px;
    position: absolute;
    top: 20px;
    left: 10;
    margin-left: 0px;
    padding-bottom: 5px;
    flex-direction: row;
}
.team4box{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    width: 267px;
    height: 37px;
    position: absolute;
    top: 21px;
    left: 1633px;
    margin-left: 10px;
    padding-bottom: 5px;
    flex-direction: column;
}
.player_video_box{
    position: absolute;
    width: 694px;
    height: 50px;
    top: 340px;
    left: 264px;
    display: flex;
    justify-content: center;
}
.player_time_box{
    
    
    width:150px;
    height:30px;
}
.upper_time_box{
    left:100px;
}
.team2finish{
    left:961px;
}
.team3finish{
    left: 264px;
    top: 733px;
}
.team4finish{
    left: 961px;
    top: 733px;
}
.player_timer{
    font-size:26px;
    text-align: center;
}
.lower_third{
    color: #ffffff;
    font-size: 60px;
    position: absolute;
    left: 553px;
    width: 816px;
    top: 80px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.horizontal_center_4p16x9{
    position: absolute;
}
.bot-half{
    top: 716px;
    left: 0px;
}
.top-half{
    top:0px;
    left:0px;
}
.horizontal_center_middle_4p16x9{
    position: absolute;
}